<p>トリセツ<%= index %></p>

<fieldset>
<% question_options = [
{
    label: "型番（自分の基本仕様）",
    values: [
    "型番：性格を一言で言うと？",
    "型番：一番好きなことは？",
    "型番：感情で動く型？理論で考える型？",
    "型番：勢い大事型？計画優先型？",
    "型番：話す派？聞く派？"
    ]
},
{
    label: "操作説明（うまく付き合う方法）",
    values: [
    "操作説明：やる気スイッチはどこ？",
    "操作説明：機嫌が悪いときのサインは？",
    "操作説明：褒められてうれしいところは？",
    "操作説明：落ち込んだときどうしてほしい？",
    "操作説明：放っておいてほしい時って？"
    ]
},
{
    label: "おすすめ機能（伝えたい自分の魅力）",
    values: [
    "おすすめ機能：こんなとき頼りになります",
    "おすすめ機能：こんなふうに使うと性能を発揮します",
    "おすすめ機能：つい誰かのためにやっちゃうこと",
    "おすすめ機能：〇〇を任せると安心です",
    "おすすめ機能：〇〇な空気をつくるのが得意です"
    ]
},
{
    label: "取扱上の注意（地雷や苦手なこと）",
    values: [
    "取扱注意：されると傷つくこと",
    "取扱注意：こう見えて実は〇〇に弱い/苦手です",
    "取扱注意：〇〇には対応しておりません",
    "取扱注意：〇〇されるとフリーズします",
    "取扱注意：〇〇中はそっとしておいてください"
    ]
},
{
    label: "メンテナンス（心のケア・リセット方法）",
    values: [
    "メンテナンス：この言葉を言われると再起動します",
    "メンテナンス：疲れたときの充電方法",
    "メンテナンス：落ち込んだときに聞きたい曲は？",
    "メンテナンス：落ち込んだときに食べたいものは？",
    "メンテナンス：気分を切り替えるときにしたいことは？"
    ]
}
] %>

<label for="question_<%= index %>">質問を選択：</label>
    <select class="question-select" id="question_<%= index %>" name="questions[]">
        <option value="" <%= @questions[index - 1] == "" ? "selected" : "" %>>-- 選択してください --</option>
        <option value="other" <%= @questions[index - 1] == "other" ? "selected" : "" %>>その他（自由入力）</option>

        <% question_options.each do |group| %>
            <optgroup label="<%= group[:label] %>">
            <% group[:values].each do |q| %>
            <option value="<%= q %>" <%= @questions[index - 1] == q ? "selected" : "" %>><%= q %></option>
            <% end %>
            </optgroup>
        <% end %>
    </select>

    <br><br>

    <div>
    <label for="question_custom_<%= index %>">その他（自由入力）：</label>
        <textarea class="question-custom" id="question_custom_<%= index %>" name="question_customs[]"  placeholder="操作説明：やる気スイッチはどこ？" ><%= h @question_customs[index - 1] || "" %></textarea>
    </div>

    <br><br>
    <label for="answer_<%= index %>">回答:</label>
    <textarea id="answer_<%= index %>" name="answers[]" placeholder="こたえを書いてね"><%= h @answers[index - 1] || "" %></textarea>
    <br><br>
</fieldset>
