<form action="/result" method="post">
    <p>どんなトリセツをつくる？</p>
    <label for="category_select">カテゴリを選択：</label>
    <select id="category" name="category">
        <option value="" <%= @category == "" ? "selected" : "" %>>-- 選択してください --</option>
        <option value="働くときのわたし" <%= @category == "働くときのわたし" ? "selected" : "" %>>はたらくときのわたし</option>
        <option value="友だちとのわたし" <%= @category == "友だちとのわたし" ? "selected" : "" %>>友だちとのわたし</option>
        <option value="ネットの中のわたし" <%= @category == "ネットの中のわたし" ? "selected" : "" %>>ネットの中のわたし</option>
        <option value="いっしょに暮らすわたし" <%= @category == "いっしょに暮らすわたし" ? "selected" : "" %>>いっしょに暮らすわたし</option>
        <option value="other" <%= @category == "other" ? "selected" : "" %>>その他（自由入力）</option>
    </select>
<%#Todo 通常時はグレーアウト&&入力不可　その他を選択したときのみ入力可能%>
    <div>
    <label for="category_custom">自由入力：</label>
    <input type="text" id="category_custom" name="category_custom" placeholder="例：サークルでのわたし" value="<%= h @category_custom %>" disabled>
    </div>

<br><br>
    <div>
        <label for="name">名前：</label>
        <input type="text" name="name" id="name" placeholder="田中 太郎" value="<%= h @name %>" />
    </div>

    <div>
    <label for="name_furigana">ふりがな・よみかた：</label>
    <input type="text" name="name_furigana" placeholder="たなか たろう" value="<%= h @name_furigana %>" />
    </div>
<br><br>

    <p>どのわたしを選ぶ？</p>
    <div id="avatar-list">
        <% 6.times do |i| %>
        <% avatar_name = "avatar#{i}.png" %>
        <label>
        <input type="radio" name="avatar" value="<%= avatar_name %>" <%= @avatar == avatar_name ? 'checked' : '' %>>
        <img src="/avatars/<%= avatar_name %>" alt="アバター<%= i %>">
        </label>
    <% end %>
    </div>

<br><br>
    <% 5.times do |i| %>
    <%= erb :"partials/_question_block", locals: { index: i + 1 } %>
    <% end %>

<br><br>
    <label for="message">みんなにひとこと:</label>
    <textarea id="message" name="message"><%= h @message %></textarea>
<br><br>

    <button type="submit">トリセツをつくる</button>

</form>
