<form id="post_result" action="/result" method="post">
    <p>どんなトリセツをつくる？</p>
    <label for="category_select">カテゴリを選択：</label>
    <select id="category" name="category">
        <option value="" <%= @category == "" ? "selected" : "" %>>-- 選択してください --</option>
        <option value="働くときのわたし" <%= @category == "働くとき" ? "selected" : "" %>>働くとき</option>
        <option value="友だちとのわたし" <%= @category == "友だち" ? "selected" : "" %>>友だち</option>
        <option value="ネットの中のわたし" <%= @category == "ネットの中" ? "selected" : "" %>>ネットの中</option>
        <option value="いっしょに暮らすわたし" <%= @category == "いっしょに暮らすとき" ? "selected" : "" %>>いっしょに暮らすとき</option>
        <option value="other" <%= @category == "other" ? "selected" : "" %>>その他（自由入力）</option>
    </select>
    <div>
    <label for="category_custom">自由入力：</label>
    <input type="text" id="category_custom" name="category_custom" placeholder="例：サークルで" value="<%= h @category_custom %>" disabled>
    </div>
<br><br>
    <label for="category_me_select">一人称を選択：</label>
    <select id="category_me" name="category_me">
        <option value="" <%= @category_me == "" ? "selected" : "" %>>-- 選択してください --</option>
        <option value="わたし" <%= @category_me == "わたし" ? "selected" : "" %>>わたし</option>
        <option value="ぼく" <%= @category_me == "ぼく" ? "selected" : "" %>>ぼく</option>
        <option value="俺" <%= @category_me == "俺" ? "selected" : "" %>>俺</option>
        <option value="ワシ" <%= @category_me == "ワシ" ? "selected" : "" %>>ワシ</option>
        <option value="other" <%= @category_me == "other" ? "selected" : "" %>>その他（自由入力）</option>
    </select>
    <div>
    <label for="category_me_custom">自由入力：</label>
    <input type="text" id="category_me_custom" name="category_me_custom" placeholder="例：わたし" value="<%= h @category_me_custom %>" disabled>
    </div>

<br><br>
    <div>
        <label for="name">名前：</label>
        <input type="text" name="name" id="name" placeholder="田中 太郎" value="<%= h @name %>" />
    </div>

    <div>
    <label for="name_furigana">ふりがな・よみかた：</label>
    <input type="text" name="name_furigana" id="name_furigana" placeholder="たなか たろう" value="<%= h @name_furigana %>" />
    </div>
<br><br>

    <p>どのわたしを選ぶ？</p>
    <div id="avatar-list">
        <% 6.times do |i| %>
        <% avatar_name = "avatar#{i}.png" %>
        <label>
        <input type="radio" name="avatar" class="avatar" value="<%= avatar_name %>" <%= @avatar == avatar_name ? 'checked' : '' %>>
        <img src="/avatars/<%= avatar_name %>" alt="アバター<%= i %>">
        </label>
    <% end %>
    </div>

<br><br>
    <% 5.times do |i| %>
    <%= erb :"partials/_question_block", locals: { index: i + 1 } %>
    <% end %>

<br><br>
    <label for="message">みんなにひとこと:</label>
    <textarea id="message" name="message"><%= h @message %></textarea>
<br><br>

    <button type="submit">トリセツをつくる</button>

</form>
