<p><%= @name %>のトリセツ</p>

<p>名前：<%= @name %></p>
<p>ふりがな：<%= @name_furigana %></p>

<p>好きなもの・関心のあること:<%= @likes %></p>
<p>苦手なこと・注意してほしいこと:<%= @dislikes %></p>
<p>趣味・リフレッシュ方法:<%= @hobbies %></p>
<p>最近注力していること:<%= @current_focus %></p>
<p>わたしはこういう人</p>
<p><%= @social_style %></p>
<p><%= @decision_style %></p>
<p><%= @action_style %></p>
<p>みんなにひとこと:<%= @message %></p>

<button><a href="profile_text">自己紹介文をみる</a></button>


<p>ほかの自己紹介に書き換える？</p>
<button><a href="">職場用</a></button>
<button><a href="">サークル用</a></button>
<button><a href="">SNS用</a></button>

<p>コピペできるボタン付きの生成されたURL</p>
<button><a href="/share">*テストシェア画面へのボタン</a></button>

<a id="postToX" class="x-post-button" href="#" target="_blank" rel="noopener noreferrer">
    結果をXにポストする </a>

<button><a href="/input">作成画面に戻る</a></button>
