<p><%= @name %>のトリセツ</p>

<p>なまえ：<%= @name %></p>
<p>ふりがな/よみかた：<%= @name_furigana %></p>

<p><%= @message %></p>

<% if @avatar && !@avatar.empty? %>
<img id="avatar-image" src="/avatars/<%= @avatar %>" alt="わたしのアバター">
<% else %>
<img id="avatar-image" src="/images/demo.PNG" alt="わたしのアバター" />
<% end %>

<ul>
<% @questions.each_with_index do |q, i| %>
    <li><%= q %> : <%= @answers[i] %></li>
<% end %>
</ul>


<p>あなたの共有URL：</p>
<input type="text" value="<%= session[:share_url] %>" id="shareUrl" readonly>
<button onclick="copyToClipboard()">URLをコピー</button>

<a id="postToX" class="x-post-button"
href="https://twitter.com/intent/tweet?text=自分のトリセツを作りました！%0A
わたしを伝える新しいコミュニケーションツール💌%0A%0A &url=<%= session[:share_url] %>#わたしのトリセツ"
target="_blank" rel="noopener noreferrer">
結果をXにポストする
</a>

<a href="/edit">作成画面に戻る</a>
<a href="/edit">別のトリセツを作る</a>
