<p><%= @name %>のトリセツ</p>

<p>なまえ：<%= @name %></p>
<p>ふりがな/よみかた：<%= @name_furigana %></p>

<p><%= @message %></p>

<img id="image" src="image/demo.PNG" alt="わたし" />

<ul>
<% @questions.each_with_index do |q, i| %>
    <li><%= q %> : <%= @answers[i] %></li>
<% end %>
</ul>


<p>あなたの共有URL：</p>
<input type="text" value="<%= session[:share_url] %>" id="shareUrl" readonly>
<button onclick="copyToClipboard()">URLをコピー</button>

<a href="/share">*テストシェア画面</a>

<a id="postToX" class="x-post-button" href="#" target="_blank" rel="noopener noreferrer">
    結果をXにポストする </a>

<a href="/edit">作成画面に戻る</a>
<a href="/edit">別のトリセツを作る</a>
