<p><%= h @profile["final_category"] %>のトリセツ</p>

<p>なまえ：<%= h @profile["name"] %></p>
<p>ふりがな/よみかた：<%= h @profile["name_furigana"] %></p>

<p><%= h @profile["message"] %></p>

<% if @profile["avatar"] && !@profile["avatar"].empty? %>
<img id="avatar-image" src="/avatars/<%= @profile["avatar"] %>" alt="わたしのアバター">
<% else %>
<img id="avatar-image" src="/avatars/demo.png" alt="わたしのアバター" />
<% end %>

<ul>
<% @profile["final_questions"].each_with_index do |q, i| %>
    <li><%= h q %> : <%= h @profile["answers"][i] %></li>
<% end %>
</ul>

<a href="/">自分も作ってみる！</a>
