<article class="Result_display">
<div class="Name_and_message">
<h1><%= h @profile["final_category"] %>の<br><%= h @profile["final_category_me"] %>のトリセツ</h1>
<br>
<div class="name_box">
<p class="result_name_label">なまえ</p>
<h2><%= h @profile["name"] %></h2>
<p class="result_furigana"><%= h @profile["name_furigana"] %></p>
</div>

<p class="result_message"><%= h @profile["message"] %></p>
<% if @profile["avatar"] && !@profile["avatar"].empty? %>
<img class="avatar-image-piked" src="/avatars/<%= @profile["avatar"] %>" alt="わたしのアバター">
<% else %>
<img class="avatar-image-piked" src="/avatars/demo.png" alt="わたしのアバター" />
<% end %>
</div>

<div class="Questions_and_Answers">
<ul>
<% @profile["final_questions"].each_with_index do |q, i| %>
    <% if q && !q.strip.empty? && @profile["answers"][i] && !@profile["answers"][i].strip.empty? %>
    <li><%= h q %>
    <span class="answer-text"><%= h @profile["answers"][i] %></span>
    </li>
    <% end %>
<% end %>
</ul>
</div>
</article>
<br>
<a id="Try_Btn" href="/">自分も作ってみる！</a>
