<p><%= @profile["category"] %>のトリセツ</p>

<p>なまえ：<%= @profile["name"] %></p>
<p>ふりがな/よみかた：<%= @profile["name_furigana"] %></p>

<p><%= @profile["message"] %></p>

<% if @profile["avatar"] && !@profile["avatar"].empty? %>
<img id="avatar-image" src="/avatars/<%= @profile["avatar"] %>" alt="わたしのアバター">
<% else %>
<img id="avatar-image" src="/images/demo.png" alt="わたしのアバター" />
<% end %>

<ul>
<% @profile["questions"].each_with_index do |q, i| %>
    <li><%= q %> : <%= @profile["answers"][i] %></li>
<% end %>
</ul>

<a href="/">自分も作ってみる！</a>
