<p><%= @profile["category"] %>のトリセツ</p>

<p>なまえ：<%= @profile["name"] %></p>
<p>ふりがな/よみかた：<%= @profile["@name_furigana"] %>

<p><%= @profile["@message"] %></p>

<img id="image" src="image/demo.PNG" alt="わたし" />

<ul>
<% @profile["questions"].each_with_index do |q, i| %>
    <li><%= q %> : <%= @profile["answers"][i] %></li>
<% end %>
</ul>


<button><a href="/">自分も作ってみる！</a></button>
